
<%- include("template/cabecera.ejs", {tituloWeb:'Inicio'}) %>
    <h2><%= titulo %></h2>
    <a class="btn btn-warning btn-sm" href="/entrenador">ENTRENADOR</a>
    <a class="btn btn-warning btn-sm" href="/pokemon">POKEMON</a>
    <a class="btn btn-warning btn-sm" href="/medallas">Medallas</a>
<%- include("template/footer.ejs")%>